h1 forgot password form
form(action='/forgotPassword', method='POST')
  .input-group
    label(for='email') Email
    input#email(type'email', name='email', autofocus, required)
  .input-group
    input(type='submit', value='request')
