h1 please fill in a new password
form(action='/newPassword?_method=PUT', method='POST')
  .input-group
   h2 #{userEmail}
  .input-group
    label(for='pass') New password
    input#pass(type='password', name='password')
  .input-group
    input(type='submit', value='Register')
